@font-face {
  font-family: 'Magnetic Pro Black';
  src: url('./fonts/magnetic-pro-black.woff2') format('woff2'),
    url('./fonts/magnetic-pro-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Magnetic Pro';
  src: url('./fonts/magnetic-pro-light.woff2') format('woff2'),
    url('./fonts/magnetic-pro-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Magnetic Pro';
  src: url('./fonts/magnetic-pro-medium.woff2') format('woff2'),
    url('./fonts/magnetic-pro-medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Magnetic Pro';
  src: url('./fonts/magnetic-pro-light-italic.woff2') format('woff2'),
    url('./fonts/magnetic-pro-light-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Magnetic Pro Thin';
  src: url('./fonts/magnetic-pro-thin-italic.woff2') format('woff2'),
    url('./fonts/magnetic-pro-thin-italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

body * {
  font-family: 'Magnetic Pro', 'HeiTi SC Light', 'Microsoft YaHei', sans-serif;
}
